<a href="#/new" class="btn btn-info" ng-click="false">Create  Books</a>
<br>
<table class="table table-bordered">
    <tr>
        <th>S.N</th>
        <th>Title</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="lib in libArra track by $index">
        <td>{{lib.sn}}</td>
        <td>{{lib.title}}</td>
        <td>{{lib.author}}</td>
        <td>
            <a class="btn btn-sm btn-info" href="#/edit/{{$index + 1}}">Edit</a>
         
            <span class="btn btn-sm btn-danger" ng-click="removeBook(lib, $index)" href="">Delete</span>
        </td>
    </tr>
</table>