body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}

/* Forms Controller styles */

.error-message {
    color: red;
}
input.ng-dirty.ng-invalid {
    border-color: red;
}