<a href="#/new" class="btn btn-info" ng-click="false">Blog Entry</a>
<br>
<table class="table table-bordered">
    <tr>
        <th>S.N</th>
        <th>Title</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="blog in blogs track by $index">
        <td>{{$index+1}}</td>
        <td>{{blog.title}}</td>
        <td>{{blog.author_name}}</td>
        <td>{{blog.email}}</td>
        <td>{{blog.publish_date}}</td>
        <td>
            <a class="btn btn-sm btn-info" href="#/edit/{{$index + 1}}">Edit</a>
            <span class="btn btn-sm btn-danger" ng-click="removeBook(blog, $index)" href="">Delete</span>
        </td>
    </tr>
</table>